%p{style: "color: green"}= notice
%h1 Devices  Sessions
#sessions
  - @sessions.each do |session|
    %div{id: ""}
    = dom_id session
    "&gt;
    %p
      %strong User Agent:
      = session.user_agent
    %p
      %strong Ip Address:
      = session.ip_address
    %p
      %strong Created at:
      = session.created_at
  %p
    = button_to Log out, session, method: :delete
