= form_tag users_path, method: :get do
  %table
    %tr
      %td Date from
      %td= datetime_field_tag 'created_from', params[:start_date]
    %tr
      %td Date to
      %td= datetime_field_tag 'created_to', params[:end_date]
  = submit_tag 'Search', class: 'btn btn-info'
  - if params[:commit].present?
    = link_to users_path, class: 'btn btn-info' do
      Cancel filter
