- from = params[:created_from]
- to = params[:created_to]

%h1 Attachments

= link_to 'Home page', root_path, class: 'btn btn-primary'

= render 'search'
= link_to 'Add attachment', edit_user_path(@current_user),
          class: 'btn btn-primary'
= link_to 'Download filtered list pdf',
          download_user_path(@current_user, created_from: from, created_to: to),
          class: 'btn btn-primary'

%table
  %tr
    %th User
    %th Created at
    %th Attachment
    %th Actions

  - @attachments.each do |file|
    %tr
      %td= file.record.email
      %td= file.created_at.strftime('%d/%m/%Y %H:%M')
      %td= render('attachment', file:)
      %td
        = link_to 'Download',
                  rails_blob_path(file, disposition: 'attachment'),
                  class: 'btn btn-warning'

        = link_to 'Delete',
                  remove_attachment_user_path(file),
                  data: { turbo_method: :delete },
                  class: 'btn btn-danger'
