%p.notice= notice
%p Signed as #{Current.user.email}
%h2 Login and verification

= link_to 'Change password', edit_password_path, class: 'btn btn-primary'
= link_to edit_identity_email_path, class: 'btn btn-primary' do
  Change email address
%br/
= link_to users_path, class: 'btn btn-info' do
  Attachments page
= button_to Current.session, method: :delete, class: 'btn btn-warning' do
  Log out
